table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
    width: 12%;
}

td {
	background-color: #D5EDE6;
}

th {
	background-color: #6893FF;
}

#x {
	background-color: #0000FF;
}

#leftbar {
	background-color: #6893FF;
}


/*button css*/
.button {
    display: inline-block;
    background-color: lightblue;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: lightblue;
}   