body {
	background: url(../pictures/bg.png);
}

lh {
	font-weight: bold;
	color: red;
}

h1 {
	color: red;
	font-weight: bold;
	font-size: 35px;
}

h2 {
	color: red;
	font-size: 25px;
}

div ul li {
	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
}

button {
	font-family: Verdana;
	font-size: 16px;
	font-weight: bold;
	display:block;
    border:0 none;
    cursor:pointer;
    outline:none;
}

/*Navigation Bar---------------------------------------------------------------------------------------------*/
#navbar {
	height: 50px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

#navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#navbar li {
	background: darkred;
	color: red;
	padding: 0;
	text-align: center;
	width: 25%;
	float: left;
}

#navbar a:hover {
	color: darkred;
	background: red;
}

li#active a {
	color: darkred;
	background: red;
}

#navbar a {
	text-decoration: none;
	display: block;
	font-size: 22px;
	padding: 10px;
	color: red;
}

#navbar a:visited {
	text-decoration: none;
}

/*contents---------------------------------------------------------------------------------------------*/
#content {
    width:960px;
    background: #D8D8D8;
    border: 3px solid #AA0008;
    height: 2000px;
    margin: 70px auto;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: auto;
}

/*footer---------------------------------------------------------------------------------------------*/
#footer {
	height: 40px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: #3F0A00;
	color: #C11D00;
	text-align: center;
	font-style: italic;
}

/*dropdown---------------------------------------------------------------------------------------------*/
.dropbtn {
    background-color: darkred;
    color: red;
    font-weight: bold;
    padding: 13.5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-left: 49%;
    padding-right: 49%;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: red;
    color: darkred;
}

#myInput {
  	color: darkred;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: darkred;
    min-width: 230px;
    overflow: auto;
    box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
	background-color: red;
	color: darkred;
}

.show {
	display:block;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*Form-------------------------------------------------------------*/

#reaction {
	height: 100px;
	width: 60%;
}

form legend {
	font-size: 24px;
}

form fieldset {
	font-size: 18px;
}

#formbutton {
	color: black;
	background-color: red;
	border-radius: 5px;
	padding: 5px;
	border: solid black 1px;
}

legend#post {
	font-size: 20px;
}

#post {
	margin-left: 5%;
}

#comment {
	margin-left: 7.5%;
	font-size: 15px;
}

#mailme {
	font-size: 20px;
	text-decoration: none;
	color: red;

}